[core]
    excludesFile = /home/ZayleighNg/.gitgnore

[push]
    default = current

[pull]
    rebase = true

[fetch]
    prune = true

[rebase]
    autostash = true

[user]
    name = ZayleighNg

[url "git@github.com:"]
    insteadOf = https://github.com/

[includeIf "gitdir:/home/ZayleighNg/github/**"]
    path = /home/ZayleighNg/.github.gitconfig

[url "git@gitlab.com:"]
    insteadOf = https://gitlab.com/

[includeIf "gitdir:/home/ZayleighNg/gitlab/**"]
    path = /home/ZayleighNg/.gitlab.gitconfig
